@import "./variables.css";


*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: var(--trans-1);
}




body{
    color: var(--color-font);
    font-family: var(--ff-1);
    background-color: var(--color-base);
/* position: relative; */
}

.back__btn{
    position:absolute;
top:50px;
left: 100px;
width: 30px;
transition: all .5s;
}
.back__btn:hover{
transform: translateX(-10px);
}

header,
main,
section{
    width: 100vw;
    text-align: center;
}


a{
 text-decoration: none;
 color: inherit;
 transition: .1s;
}

ul{
    list-style: none;
}
.subtitle__container{
    margin-top: calc(var(--gutter-1)*.2);

}
small{
    display: block;
    padding:  .4em var(--pd-txt);
    font-size: var(--fs-1);
    width: 40%;
    margin: 0 auto;
    background-color: antiquewhite;
    /* letter-spacing: 0.5em; */
}
.used__langs{
    word-spacing: 2em;
    margin: var(--gutter-1) 0 0;
}
.used__langs >*{
    opacity: .4;
    font-size: calc(var(--fs-1)*.6);
    cursor: pointer;
}
.used__langs >*:hover{
    opacity: 1;
}
.title__wrapper{
    font-size: var(--fs-3);
margin: var(--gutter-1) auto;
text-transform: capitalize;
}
.subtitle__container{
    text-align: center;
}
.about__section{
/* font-size: var(--fs-1);  */
width: 60%;
margin: 0 auto; 

}

.list__wrapper{
    margin: var(--gutter-1) auto;
    font-size: var(--fs-1);
    position: relative;
    overflow: hidden;
}
.list__wrapper::before{
    margin: 1em 0;
    content:attr(data-count);
    font-size: 30px;
}
/* .list__wrapper::after{
content: "";
width: 10px;
height: 10px;
background-color: #000;
border-radius: 50%;
top: 0;
left: 30%;
position: absolute;
cursor: pointer;
} */

.list__item{
    height: 3em;
    margin: auto;
    width: 60%;
    cursor: pointer;
    position: relative;
    padding: var(--pd-txt);
}
.list__item::after{
    content:"";
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    border-bottom: 2px solid #000;
}   
.list__item::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #000;
    background-size: cover;
    background-image: url("https://media.giphy.com/media/Iw4r8ErCvPbfAmu5xZ/giphy.gif");
}   


.list__item:hover:after{
top:0%;
}
.list__item:hover::before{
height: 500px;
}
.list__item:hover{
height: 500px;
}

.hide__item::after{
    border: 1px solid var(--color-disabled);

}
.hide__item{
    user-select: none;
    pointer-events: none;
    color: var(--color-disabled);
}
.active__filter{
    opacity: 1;
}