@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root{
    --color-base:rgb(229, 224, 208);
    --color-accent:"";
    --color-font:#393737;
    --color-disabled: #b2b2b2;

    --ff-1: 'Ubuntu Mono', monospace;
--fs-1:1.5rem;
--fs-2:2rem;
--fs-3:3rem;

--gutter-1: 2em;
--gutter-2: 4em;
--gutter-3: 6em;
    --pd-txt:1em;
    --pd-container:4em;

    --ltrs-2:3em;
--trans-1: 0.4s;
}

