// a {
// 	color: var(--text-color);
// 	text-decoration: none;
// 	transition: .25s ease;
// }
ul {
	margin: 2rem auto;
	padding: 0 !important;
display: flex;
flex-wrap: wrap;
list-style: none !important;
}
div.nav__wrapper {
    a {
        color: var(--text-color);
        text-decoration: none;
        transition: .25s ease;
    }
    ul {
		font-size: 20px;
        margin: 2rem auto;
		padding: 0 !important;
	display: flex;
	flex-wrap: wrap;
	list-style: none !important;
	
	li {
		margin-left: .75em;
		margin-right: .75em;
	}
	
	&:hover {
		a {
			color: #CCC;
			&:hover {
				opacity: .5;
				// box-shadow: 0 2px 0 0 currentcolor;
			}
		}
	}
}

}
